#main_ctaForm {
    margin: 0;
    padding: 3em 0;
    background: linear-gradient(180deg, #3C3C3B 0%, #252525 100%);

    .main_ctaForm_header {
        margin-bottom: 1.25rem;
        padding: 0;

        h1 {
            @include marginSet;
            @include font(2em, $font-regular);
            @include textAlign(center);
            color: $color3;
        }

        hr {
            width: 5em;
            margin: 1em auto 0 auto;
            border: 2px solid $color1;
        }
    }

    .main_ctaForm_content {
        max-width: 36em;
        margin: 0 auto;

        p {
            margin-bottom: 1em;
            @include font(1em, $font-light);
            @include textAlign(center);
            color: $color3;
        }

        form {
            max-width: 24em;
            margin: 0 auto;

            .main_ctaForm_content_button {
                button {
                    color: $color3;
                }
            }
        }
    }
}
