#footer {
    width: 100%;
    @include marginSet;

    .footer_copyright {
        @include marginSet;

        background: {
            image: url('../img/bg-footer.jpg');
            size: contain;
            position: bottom;
            repeat: no-repeat;
        }

        .footer_copyright_content {
            margin: 0;
            padding: 1em 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p {
                margin-top: 1em;
                padding: 0;
                @include font(.875em, $font-light);
                @include textAlign(center);
            }
        }
    }

    .footer_developer {
        margin: 0;
        padding: 0.75em 0;
        background: linear-gradient(180deg, #3C3C3B 0%, #252525 100%);

        .footer_developer_container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;

            p {
                @include marginSet;
                @include font(.875em, $font-light);
                color: $color3;

                strong {
                    @include font(inherit, $font-regular);
                }

                a {
                    &:hover {
                        color: $color1;
                        @include transition;
                    }
                }

                img {
                    margin-right: .5em;
                }
            }
        }
    }

}
