#main_hire {
    @include margin;

    // header
    .main_hire_header {
        margin-bottom: 3.5em;

        h1 {
            margin-bottom: 0.5em;
            padding: 0;
            @include font(2em, $font-regular);
            @include textAlign(justify);
            color: $color1;
        }

        p {
            @include marginSet;
            @include textAlign(justify);
            @include font(1.25em, $font-regular);
            color: $color4;
        }
    }

    @extend %card;

    .main_cardAds_content_button {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;

        a {
            margin: 0;
            padding: 0.5em 2em;
            color: $color3;

            img {
                margin-left: 1em;
            }
        }
    }
}
