#main_home {
    @include marginSet;
    height: 45vh;

    background: {
        image: url('../img/bg-contato.jpg');
        position: center;
        size: cover;
        repeat: no-repeat;
    }
}
