// tablet
@media screen and (max-width: 768px) {

    //BODY
    * {
        font-size: 14px;
    }

    // header
    header {
        .navbar {
            .collapse {
                .navbar-nav {
                    .nav-item {
                        margin: 1em 0;

                        &:last-child {
                            .nav-link {
                                margin: 0 !important;
                            }
                        }
                    }
                }
            }
        }
    }

    // real state
    #main_realState {
        .main_realState_content_media {
            max-width: 20em;
            margin: 3em auto 0 0;
        }
    }

}

// mobile
@media screen and (max-width: 425px) {

    // header
    header {
        margin: 0;
        padding: 0;

        .header_nav {
            display: none;
        }
    }

    #main_home {
        height: 30vh;
    }

    // CTA
    #main_cta {
        .main_cta_form {
            margin: 2.5em 0;
        }
    }

}

@media screen and (max-width: 375px) {}
