//CORES
$color1: darken(#F4CE5F, 7%);
$color2: #333;
$color3: #fff;
$color4: #A7A7A7;
//BACKGROUND COLOR
$bg-color1: #F8F8F8;
$bg-color2: rgba(51, 51, 51, 0.3);
$bg-color3: rgba(#F9F9F9, 0.7);
$bg-color4: rgba(255, 255, 255, 0.4);

//FONT-WEIGHT
$font-light: 300;
$font-regular: 400;
$font-bold: 500;

$theme-colors: ("color1": $color1,
    "color2": $color2,
    "color3": $color3,
    "color4": $color4,
    "bg-color1": $bg-color1,
    "bg-color2": $bg-color2,
    "bg-color3": $bg-color3,
);

//BOOTSTRAP
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/custom-forms";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/pagination";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/utilities";

//INCLUDES
@import "includes";

//EXTENDS
@import "extends";
