#main_photos {
    .main_photos_content {

        position: relative;

        .main_photos_content_slides {
            display: none;
            margin-bottom: 1em;

            img {
                @include marginSet;
                width: 100%;
                max-height: 30em;

                object: {
                    fit: cover;
                    position: center;
                }
            }
        }

        .main_photos_content_prev,
        .main_photos_content_next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            z-index: 1000;
            width: auto;
            padding: 1em;
            color: white;
            font-weight: bold;
            font-size: 1.25em;
            border-radius: 0 3px 3px 0;
            transform: translateY(-50%);

            &:hover {
                background-color: rgba(0, 0, 0, 0.8);

            }
        }

        .main_photos_content_next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }


        .cursor {
            cursor: pointer;
        }

        .row {
            @include marginSet;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
            gap: 20px;

            .column {
                img {
                    width: 100%;
                    max-height: 10em;

                    object: {
                        fit: cover;
                        position: center;
                    }
                }

                .demo {
                    mix-blend-mode: luminosity;
                    @include transition;
                }

                .active,
                .demo:hover {
                    mix-blend-mode: normal;
                }
            }
        }
    }
}
