#main_photos {
    margin: 0;
    padding: 0 0 5em 0;

    .main_photos_header {
        margin-bottom: 3.5em;

        h1 {
            margin: 0;
            padding: 0;
            @include font(2em, $font-regular);
            @include textAlign(center);
        }

        hr {
            margin: 1em auto 1.25em auto;
            width: 3.75em;
            border: 1.5px solid $color1;
        }

        p {
            @include marginSet;
            @include textAlign(center);
            @include font(1.25em, $font-regular);
            color: $color4;
        }
    }

    .main_photos_content {
        width: 100%;

        .main_photos_content_grid {

            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 15px;

            .main_photos_content_grid_image {
                @include marginSet;
                height: 15em;
                overflow: hidden;
                -webkit-filter: saturate(0);
                filter: saturate(0);

                &:hover {
                    transform: scale(.98);
                    -webkit-filter: none;
                    filter: none;
                    @include transition;
                }

                a {
                    margin: 0;
                    padding: 0;

                    img {
                        width: 100%;
                        height: 100%;

                        object: {
                            fit: cover;
                            position: center;
                        }
                    }
                }
            }
        }
    }
}
